{% extends "layout.html" %}

{% block header %}
  {{headerTitle}}
  <h6>Welcome {{userName}} </h6>
{% endblock %}

{% block body %}
  <p>
    This is the home and also the search page.
  </p>
  <a href="{{ url_for('loginRoute') }}"> Login page</a>
  <br>
  <a href="{{ url_for('registrationRoute') }}"> Registration page</a>
  <br>
  <a href="{{ url_for('resultsRoute') }}"> Results page</a>
  <br>
  <a href="{{ url_for('bookRoute') }}"> Book page</a>

  <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Enter book">
      <i class="search icon"></i>
    </div>
  </div>

{% endblock %}