{% extends "layout.html" %}

{% block header %}
  {{headerTitle}}
{% endblock %}

{% block body %}
  {% from "includes/_formhelpers.html" import render_field %}

  <p>
    This is the registration page
  </p>
  <a href="{{ url_for('loginRoute') }}"> Go to login page </a>
  
  <form class="ui form" method="POST", action="">

    <div class="inline field">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="inline field">
      {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="inline field">
      {{render_field(form.username, class_="form-control")}}
    </div>
    <div class="inline field">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="inline field">
      {{render_field(form.confirm, class_="form-control")}}
    </div>

    <button class="ui buttton" type="submit">Submit</button>



  </form>
  
{% endblock %}